
	<hr />
    %{--<g:dataHoje/> Grapher/Marcio <g:anoAtual /><br>--}%
    <a href='http://getbootstrap.com/' target='_blank' data-toggle="tooltip" data-placement="top" title="Ir para página inicial do Twitter-Bootstrap">Twitter-Bootstrap</a>
    <a href="http://grails.org" target="_blank" data-toggle="tooltip" data-placement="right" title="Ir para página inicial do grails">
        <asset:image src="favicon.ico" alt="Grails Home" /> Grails Home
    </a>

    %{--<g:copyright anoInicio='2013'>"Yo quiero me atrepar em pe de cueco!"</g:copyright><br>--}%
    %{--<asset:image src="grails_logo.png" />--}%